{% extends "templates/web.html" %}

{% set domains = frappe.get_doc("Domain Settings").active_domains %}
{% set links = {
	'Manufacturing': '/manufacturing',
	'Services': '/services',
	'Retail': '/retail',
	'Distribution': '/distribution',
	'Non Profit': '/non-profit',
	'Education': '/education',
	'Healthcare': '/healthcare',
	'Agriculture': '/agriculture',
	'Hospitality': ''
} %}

{% set link = '' %}
{% set label = '' %}
{% if domains %}
	{% set label = domains[0].domain %}
	{% set link = links[label] %}
{% endif %}

{% if label == "Services" %}
	{% set label = "Service" %}
{% endif %}

{% block script %}
<script>
$(document).ready(function() {
    $("#login_btn").click(function() {
        var me = this;
        $(this).html("Logging In...").prop("disabled", true);
        frappe.call({
            "method": "login",
            args: {
                usr: "demo@lmnas.com",
                pwd: "Demo1234567!!!",
                lead_email: $("#lead-email").val(),
            },
            callback: function(r) {
                $(me).prop("disabled", false);
                if(r.exc) {
                    alert("Error, please contact wesupport@lmnas.com");
                } else {
                    console.log("Logged In");
                    window.location.href = "desk";
                }
            }
        })
        return false;
    })
    .prop("disabled", false);
})

</script>
{% endblock %}

{% block style %}
<style>
	footer, .navbar {
		display: none;
	}
	.page-content {
		right: 0%;
		width: 100%;
	}
    {% include "templates/styles/card_style.css" %}
    header, footer {
        display: none;
    }
    html, body {
        background-color: #f5f7fa;
    }
</style>
{% endblock %}

{% block title %}
{{ _("LENS Core Demo") if domains else '' }}
{% endblock %}

{% block page_content %}
<div class='page-card'>

	<div class='page-card-head'>
		<span class='indicator blue'>
			{{ _("Experience LENS Core") }}</span>
	</div>
	<!-- <img src="https://raw.githubusercontent.com/lmnaslimited/assets/main/logos/lmnas-logo.png" style="max-width: 40px; max-height: 40px;"> -->
	<p>Some functionality is disabled for the demo and the data will be cleared regularly.</p>
	<div><button type="submit" id="login_btn" class="btn btn-primary btn-sm">Launch Demo</button></div>
</div>


<p class='text-muted text-center small' style='margin-top: -20px;'><a href="https://lmnas.com/contact/">Start Your Industry 4.0 Journey</a>
</p>
<style>
html, body {
	background-color: #f5f7fa;
}
</style>
{% endblock %}
